@import url('https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');

:root{
    --yellow:#fffe53;
    --yellow-light:#FFFF87;
    --yellow-dark:#C9CB10;
    --darkblue:#1C2026;
    --grayblue:#43474E;
    --lightgray:#ccc;
    --darkbluehero:rgba(28, 32, 38, 0.9);
    --graybluehero:rgba(183, 192, 209, 0.9);
}

html {
  scroll-behavior: smooth;
}

/* HEADER FONT STYLES */

body{
    height:100%;
    width:100%;
    margin:0;
    background: linear-gradient(var(--darkbluehero), var(--darkbluehero)), url('./img/adrian-korte-5gn2soeAc40-unsplash.jpg') center center / cover no-repeat;
    background-attachment: fixed;
    color: white;
    font-size: 1rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    -webkit-font-smoothing: antialiased;
    scroll-behavior: smooth;
}

h1{
    font-family: 'Rock Salt', sans-serif;
    margin:auto;
}

h1, h2, h3{
    font-weight:300;
    color:white;
    /* animation: textColor 60s ease infinite; */
}

h1{
    font-size: 3rem;
}

h2{
    font-family: 'Rock Salt', sans-serif;
    font-size: 2rem;
    margin-bottom:0px;
}

h3{
    font-size: 1.5rem;
    font-weight: 500;
    margin:0;
}

h4{
    
}

h5{

}

h6{

}
      
/* MENU STYLES */
.menu-wrap {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
  }
  
  .menu-wrap .toggler {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    cursor: pointer;
    width: 50px;
    height: 50px;
    opacity: 0;
  }
  
  .menu-wrap .hamburger {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 30px;
    height: 20px;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  /* Hamburger Line */
  .menu-wrap .hamburger > div {
    position: relative;
    flex: none;
    width: 100%;
    height: 2px;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.4s ease;
  }
  
  /* Hamburger Lines - Top & Bottom */
  .menu-wrap .hamburger > div::before,
  .menu-wrap .hamburger > div::after {
    content: '';
    position: absolute;
    z-index: 1;
    top: -10px;
    width: 100%;
    height: 2px;
    background: inherit;
  }
  
  /* Moves Line Down */
  .menu-wrap .hamburger > div::after {
    top: 10px;
  }
  
  /* Toggler Animation */
  .menu-wrap .toggler:checked + .hamburger > div {
    transform: rotate(135deg);
  }
  
  /* Turns Lines Into X */
  .menu-wrap .toggler:checked + .hamburger > div:before,
  .menu-wrap .toggler:checked + .hamburger > div:after {
    top: 0;
    transform: rotate(90deg);
  }
  
  /* Rotate On Hover When Checked */
  .menu-wrap .toggler:checked:hover + .hamburger > div {
    transform: rotate(225deg);
  }
  
  /* Show Menu */
  .menu-wrap .toggler:checked ~ .menu {
    visibility: visible;
  }
  
  .menu-wrap .toggler:checked ~ .menu > div {
    transform: scale(1);
    transition-duration: var(--menu-speed);
  }
  
  .menu-wrap .toggler:checked ~ .menu > div > div {
    opacity: 1;
    transition:  opacity 0.4s ease 0.4s;
  }
  
  .menu-wrap .menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    visibility: hidden;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .menu-wrap .menu > div {
    background: var(--darkbluehero);
    backdrop-filter: blur(5px);
    width: 200vw;
    height: 200vw;
    display: flex;
    flex: none;
    align-items: center;
    justify-content: center;
    transform: opacity(0);
    transition: all 0.4s ease;
  }
  
  .menu-wrap .menu > div > div {
    text-align: center;
    max-width: 90vw;
    max-height: 100vh;
    opacity: 0;
    transition: opacity 0.4s ease;
  }
  
  .menu-wrap .menu > div > div > ul > li {
    list-style: none;
    color: #fff;
    font-size: 1.5rem;
    padding: 1rem;
  }
  
  .menu-wrap .menu > div > div > ul > li > a {
    font-family: 'Rock Salt', sans-serif;
    color: inherit;
    text-decoration: none;
    transition: color 0.4s ease;
  }

  .menu-wrap .menu > div > div > ul > li > a:hover {
    color: var(--yellow-light);
  }

  /* HERO STYLES */

.hero{
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: 100vh;
    width: 100%;
    background-attachment: fixed;
    margin:0;
}

.hero-container{
    width:50%;
    max-width: 1200px;
    margin-bottom: 30px;
}

.p.hero{
    margin: auto;
}

/* CONTENT & CARD STYLES */

.content-container{
    max-width: 1200px;
    margin:auto;
    display: flex;
    flex-direction: column;
}

.card-header {
    text-align: left;
}

.card {
    flex-basis: 100%;
    background-color: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(5px);
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    padding:20px;
    margin-bottom: 30px;
}

.round-link{
  text-decoration: none;
  color:white;
}

.card:hover{
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

/* HOW IT WORKS SECTION STYLES */

.hiw {
    display: flex;
    justify-content:space-evenly;
    margin:auto;
}

p.hiw{
    text-align: center;
    margin:15px auto;
    font-weight: bold;
}

.item-third{
flex-basis: 33%;
padding:10px;
}

/* BUTTON STYLES */

button{
    margin: 5px;
    padding:20px 40px;
    width:170px;
    background-color: transparent;
    color: white;
    border: 1px solid white;
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: .85rem;
    font-weight: 500;
    text-transform: uppercase;
    cursor: pointer;
    transition: all 0.4s ease;
    backdrop-filter: blur(5px);
}

button:hover{
    color: var(--yellow-light);
    border: 1px solid var(--yellow-light);
}

button a{
    color:white;
    text-decoration: none;
}

button a:hover{
    color:var(--yellow-light);
}

.button-primary{
    margin: 5px;
    padding:20px 40px;
    width:170px;
    background-color: white;
    color: var(--darkblue);
    border: 1px solid white;
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: .85rem;
    font-weight: 500;
    text-transform: uppercase;
    cursor: pointer;
    transition: all 0.4s ease;
}

.button-primary:hover{
    background-color: var(--yellow-light);
    color: var(--darkblue);
    border: 1px solid var(--yellow-light);
}

.button-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

/* FOOTER STYLES */

.footer{
    padding: 15px 0;
    background-color: var(--darkblue);
}

/* MISC STYLES */

hr{
    border: 1px solid #ccc;
}

ul{
    padding: 0;
}

/* MEDIA QUERIES */

@media all and (max-width: 600px) {
    .content-container{
        margin: 0 20px;
    }
    
    .hero{
        height: 100vh;
    }

    .hero-container{
        width:90%;
        margin-top:0;
    }

    .card-blog{
        flex-basis: 100%;
    }

    h1 {
        font-size: 1.2rem;
    }

    h2 {
        font-size: 1.1rem;
    }

    h3 {
        font-size: 1.1rem;
    }

    .button-container{
       margin-bottom: 20px;
       flex-direction: column;
    }

    .hiw{
        flex-wrap: wrap;
    }

    .item-third{
        flex-basis: 100%;
    }
  
}

  @media all and (max-width: 1200px) {
    .card-blog{
        flex-basis: 100%;
    }

    .content-container{
        margin: 0 20px;
    }
  
  }

  /* POST Layout */

  a {
    color: var(--yellow);
  }
  
  #post-main {
    margin-top: 4em;
    background-color: rgb(67, 75, 85);
    padding: 4rem;
  }
  
  @media screen and (max-width: 800px) {
    #post-main {
      padding: 2rem;
    }
  }
  
  #post-body {
    text-align: left;
    display: flex;
    flex-direction: column;
  }
  #post-body > p > img {
    max-width: 100%;
    max-height: 100vh;
    text-align: center;
    margin: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  #content img {
    max-width: 80vw;
    text-align: center;
  }
  
  .post {
    padding: 2em;
  }
  
  ul {
    list-style-position: inside;
  }
  
  ul p {
    display: inline;
  }